{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <title>News</title>
    </head>
    <body>
        {% for item in news %}
            {% if item.link == link %}
                <header>
                    <h2>{{ item.title }}</h2>
                </header>
                <main>
                    <article>
                        <p>Created: {{ item.created }}</p>
                        <br />
                        <p id="news_text">{{ item.text }}</p>
                    </article>
                    <br />
                    <a class="link" href="/news/">Main Page</a>
                </main>
            {% endif %}
        {% endfor %}
    </body>
</html>